body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    min-height: 100vh;
}
.logo img {
    height: 100px;
    width: 275px;
    padding: 10px;
    -webkit-filter: drop-shadow(1px 1px 5px black)
    drop-shadow(-1px -1px 5px #637461);
    filter: drop-shadow(0 0 0 #637461) 
    drop-shadow(1px 1px 5px #637461);
}
header {
    display: flex;
    justify-content: space-between; /* Space out logo and nav */
    background-color: #84a881;
    color: white;
    width: 100%;
    padding: 0;
}
.right-nav{
    display: box;
}
.right-nav h3{
    color: #f4f4f4;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 0px;
}
.nav-box {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0;
    font-weight: bolder;
    font-size: min(4vw, 20px);
    padding: 0 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-right: 2px solid black; /* Add vertical line */
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    color: #ddd;
}

nav a.active {
    color: white;
}

@media (max-width: 650px) {
    header {
        flex-direction: column; /* Stack logo and nav vertically */
        align-items: center; /* Center items horizontally */
    }

    .nav-box {
        margin-left: 0; /* Reset margin for smaller screens */
        width: 100%; /* Full width for nav box */
        padding: 10px 0; /* Adjust padding for stacked layout */
    }

    nav {
        flex-direction: column; /* Stack nav items vertically */
        align-items: center; /* Center nav items horizontally */
    }

    nav a {
        width: 100%; /* Full width for nav links */
        text-align: center; /* Center text in nav links */
        padding: 10px 0; /* Adjust padding for stacked layout */
        border-right: none;
    }
}

.alert .message {
    padding: 10px;
    margin-bottom: 10px;
    width: 100vw;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert .message.danger {
    background-color: rgb(248, 130, 130, .5);
    border-color: rgb(245, 108, 108);
    color: rgb(0, 0, 0);
}

.alert .message.success {
    background-color: rgba(86, 167, 78, 0.5);
    border-color: #333;
    color: rgb(0, 0, 0);
}
.content {
    flex: 1;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.footer {
    background-color: #394e38;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}