.content {
    display: block;
    padding: 20px;
    overflow-y: scroll;
    height: 75vh;
}
.content div.map {
    background-color: white;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: min(75vw, 575px);
    height:40vh;
    text-align: center;
}
div.search input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 50%;
}
div.gardens{
    display:flexbox;
    flex-wrap: wrap;
    width: 75vw;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
div.gardens * {
    border-radius: 8px;
    margin-top: 1rem;
    width: 75vw;
    height: 20vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}
#garden1{
    background-color: blue;
}
#garden2 {
    background-color: aqua;
}
#garden3 {
    background-color: aquamarine;
}
#garden4 {
    background-color: cadetblue;
}