<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css')}}">
    {% endblock %}
</head>
<body>
    <header>
        <h1>Community Garden Tracker</h1>
        <p>Local Needs, Local Solutions</p>
    </header>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <a href="{{ url_for('login_page')}}">Login</a>
        <a href="{{ url_for('register_page')}}">Register</a>
        <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    </div>

    <div class="nav-box">
        <nav>
            <a href="{{ url_for('home_page')}}">Home</a>
            <a href="{{ url_for('resources_page')}}">Resources</a>
            <a href="{{ url_for('volunteer_page')}}">Volunteer</a>
            <a href="{{ url_for('donations_page')}}">Donate to a Garden</a>
            <a class="hamburger" onclick="toggleSidebar()">
                <div></div>
                <div></div>
                <div></div>
            </a>
        </nav>
        <script src="{{ url_for('static', filename='js/navSelector.js') }}"></script>
    </div>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    <div class="footer">
        <footer>
            <p>&copy; 2023 Community. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>