{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css')}}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="map">
            <h3>Map</h3>
            <p>Explore our local community map.</p>
        </div>
        <div class="search">
	        <input id="search" type="search" placeholder="Search">
        </div>
        <div class="gardens">
            <div id="garden1">
                <h3>Garden 1</h3>
            </div>
            <div id="garden2">
                <h3>Garden 2</h3>
            </div>
            <div id="garden3">
                <h3>Garden 3</h3>
            </div>
            <div id="garden4">
                <h3>Garden 4</h3>
            </div>
        </div>
    </div>
{% endblock %}
