<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block style %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/header_imgs/favicon.png')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css')}}">
    {% endblock %}
</head>
<body>
    <header class="{% if current_user.is_authenticated %}authenticated{% endif %}">
        <div class="logo {% if current_user.is_authenticated %}authenticated{% endif %}">
                <a href="{{ url_for('home_page')}}">
                    <img src="../static/img/header_imgs/logo.png">
                </a>
        </div>
        <div class="right-nav {% if current_user.is_authenticated %}authenticated{% endif %}">
            <div class="nav-box {% if current_user.is_authenticated %}authenticated{% endif %}">
                <nav>
                    <a href="{{ url_for('home_page')}}">Home</a>
                    <a href="{{ url_for('about_us_page')}}">About Us</a>
                    <a href="{{url_for('resources_page')}}">Resources</a>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('profile_page',username=current_user.username)}}">Profile</a>
                        <a href="{{ url_for('register_garden')}}">Register a Garden</a>
                        <a href="{{ url_for('logout')}}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login_page')}}">Login</a>
                        <a href="{{ url_for('register_page')}}">Sign up</a>
                    {% endif %}
                </nav>
            </div>
            <h3>Local Needs, Local Solutions</h3>
            <div class="hamburger {% if current_user.is_authenticated %}authenticated{% endif %}">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </header>
    <script src="{{ url_for('static', filename='js/responsiveBasePage.js') }}"></script>

    <div class="alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message {{category}}">
                        <button type="button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    <div class="footer">
        <footer>
            <div class="footer-content">
                <div class="footer-section inspiration">
                    <h4>Inspiration</h4>
                    <p>We drew inspiration from LA Community Fridges. Make sure to check out their page!</p>
                    <a href="https://www.lacommunityfridges.com/" target="_blank" class="footer-button">Visit LA Fridges</a>
                </div>

                <div class="footer-section contact-us">
                    <h4>Contact Us</h4>
                    <div class="contact-info">
                        <div class="contact-item">
                            <a href="tel:+15622095703">562-209-5703</a>
                        </div>
                        <div class="contact-item">
                            <a href="mailto:juanlinares821@yahoo.com">juanlinares821@yahoo.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{{url_for('static', filename='js/errorMessage.js')}}"></script>
    <script src="{{ url_for('static', filename='js/navSelector.js') }}"></script>
</body>
</html>