{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css')}}">
{% endblock %}

{% block content %}
    <div class="map">
        <h3>Map</h3>
        <p>Explore our local community map.</p>
    </div>
    <div class="search">
        <input id="search" type="search" placeholder="Search">
    </div>
    <div class="gardens">
        {% for garden in gardens %}
            <a href="{{ url_for('garden_profile', garden=garden)}}">
                <div class="banner">
                    <div class="garden-picture">
                        <img src="../static/img/{{garden.photo}}">
                    </div>
                    <div class="garden-content">
                        <div class="title">
                            <h2>{{garden.name}}</h2>
                        </div>
                        <div class="info">
                            <div class="address">
                                <h3>Address</h3>
                                <p>{{ garden.street_address }}<br>
                                    {{ garden.city }}, {{ garden.state }} {{garden.zip_code}}
                                </p>
                            </div>
                            <div class="desctiption">
                                <h3>Description</h3>
                                <p>{{ garden.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
