{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}
{% block style %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/registration.css')}}">
{% endblock %}

{% block content %}

<div class="form-box">
    <form method="POST" class="form">
        <span class="title">Sign up</span>
        <span class="subtitle">Register a garden or volunteer using an email</span>
        <div class="form-container">
            {{ form.name(class="input", placeholder="Full Name") }}
            {{ form.username(class="input", placeholder="Username") }}
            {{ form.email_address(class="input", placeholder="Email") }}
            {{ form.password1(class="input", placeholder="Password") }}
            {{ form.password2(class="input", placeholder="Confirm Password") }}
        </div>
        {{ form.submit(class="button")}}
    </form>
    <div class="form-section">
      <p>Have an account? <a href="{{url_for('login_page')}}">Log in</a> </p>
    </div>
</div>
{% endblock %}